/*
 * Copyright (c) 2021 @MangoIV
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// makes it possible to hold backspace

&mt { quick_tap_ms = <200>; };

&lt { quick_tap_ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            label = "Qwerty";

            //  _____________________________       _____________________________
            // /  Q  |  W  |  E  |  R  |  T  \     /  Y  |  U  |  I  |  O  |  P  \
// |  A  |  S  |  D  |  F  |  G  | ___ |  H  |  J  |  K  |  L  |  ;  |
            // |Sft/Z|  X  |  C  |  V  |  B  ||MUT||  N  |  M  |  ,  |  .  |Sft//|
            //         \LSup/Bspc|  Ctl/SPC  /     \  Num/Del  | Sym/Ent /
            //          ---------------------       --------------------

            bindings = <
&kp Q           &kp W           &kp E        &kp R             &kp T      &kp Y       &kp U            &kp I        &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G      &kp H       &mt RSHFT J      &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI
&mt LSHFT Z     &kp X           &kp C        &kp V             &kp B      &kp C_MUTE  &kp N            &kp M        &kp COMMA        &kp DOT             &mt RSHFT FSLH
                                             &lt 1 TAB         &kp SPACE  &lt 1 RET   &lt 2 BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        nav {
            label = "navi";

            //  _____________________________       _____________________________
            // /  1  |  2  |  3  |  4  |  5  \     /  6  |  7  |  8  |  9  |  0  \
// | TAB |BTPRV|BTNXT| VOL-| VOL+| ___ |  <  |  v  |  ^  |  >  |  '  |
            // | Sft |BTSL0|BTCLR| MUT |     ||CPS|| HOME| END | PGUP| PGDN| Sft |
            //         \  LGUI   |    Ctl    /     \   Trns    |         /
            //          ---------------------       --------------------

            bindings = <
&kp ESCAPE      &kp N2          &kp UP_ARROW    &kp EQUAL      &kp LEFT_BRACE        &kp RIGHT_BRACE    &kp N7                 &kp N8        &kp N9        &kp PLUS
&kp LEFT_SHIFT  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT      &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp NUMBER_4           &kp N5        &kp NUMBER_6  &kp MINUS
&kp DELETE      &kp PG_UP       &kp CLCK        &kp PAGE_DOWN  &kp LEFT_PARENTHESIS  &kp C_MUTE         &kp RIGHT_PARENTHESIS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_MULTIPLY
                                                &trans         &trans                &kp N0             &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        symbols {
            label = "Funks";

            //  _____________________________       _____________________________
            // / ESC | F1  | F2  | F3  | F4  \     / USB | BLE |     |  =  |  -  \
// |     | F5  | F6  | F7  | F8  | ___ |  [  |  ]  |     |  `  |  \  |
            // | Sft | F9  | F10 | F11 | F12 ||   ||     |     |     |     | Sft |
            //         \  LAlt   |    Ctl    /     \           | Trns    /
            //          ---------------------       --------------------

            bindings = <
&kp EXCLAMATION  &kp AT  &kp POUND   &kp DOLLAR  &kp PERCENT  &kp CARET    &kp AMPS  &kp RA(U)   &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES
&kp RA(A)        &trans  &kp RA(N5)  &kp F7      &kp F8       &kp LBKT     &kp RBKT  &kp RA(N5)  &kp GRAVE         &kp BSLH
&trans           &trans  &trans      &trans      &trans       &bootloader  &none     &none       &trans            &trans             &kp BACKSLASH
                                     &trans      &trans       &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
